* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  background-color: grey;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */
  /* min-width: 100vw; */
}

.header {
  background-color: teal;
  display: flex;
}

.headshot {
  color: white;
  /* min-height: 300px; */
  min-width: 400px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: end;

  background-image: url("/images/pexels-tima-miroshnichenko-5439172.jpg");
  background-size: cover;
}

.aboutMe {
  background-color: white;
  padding: 20px;
}

.myWork {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 237, 237);
}

.projects {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header,
.myWork {
  padding: 30px;
}

.project {
  border: 1px solid black;
  box-shadow: 3px 3px 3px grey;
}

.projectScreenshot {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.firstRow {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.projectDescription {
  background-color: white;
  padding: 0px 10px 10px 10px;
}

.projectScreenshot {
  color: white;
  height: 50px;
}

.footer {
  display: flex;
  max-height: 500px;
  width: 100%;

  background-color: teal;

  justify-content: space-between;
}

.footerLeft,
.footerRight {
  padding: 30px;
  color: white;
}

.footerLeft > .phone > img,
.footerLeft > .email > img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg)
    brightness(200%) contrast(100%);
}

.footerRight {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 300px;
}

.footerRight > img {
  height: 100%;
  width: auto;
  max-width: 500px;
}

@media (max-width: 1000px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
  .header {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
  }
}
