* {
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */
  /* min-width: 100vw; */
}

.header {
  background-color: teal;
  display: flex;
}

.headshot {
  color: white;
  min-height: 300px;
  min-width: 400px;

  display: flex;
  justify-content: center;
  align-items: end;

  background-image: url("/images/pexels-tima-miroshnichenko-5439172.jpg");
  background-size: cover;
}

.aboutMe {
  background-color: white;
  padding: 20px;
}

.myWork {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 237, 237);
}

.projects {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header,
.myWork {
  padding: 30px;
}

.project {
  border: 1px solid black;
}

.projectScreenshot {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.firstRow {
  background-color: white;
  padding: 10px;
}

.projectScreenshot {
  color: white;
  height: 50px;
}

.footer {
  display: flex;
  max-height: 500px;
  width: 100%;

  background-color: teal;

  justify-content: space-between;
}

.footerLeft,
.footerRight {
  padding: 30px;
}

.footerRight {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 300px;
}

.footerRight > img {
  height: 100%;
  width: auto;
  max-width: 500px;
}
